a2wsgi==1.10.10
adbc_driver_manager==1.11.0
adbc_driver_postgresql==1.11.0
adbc_driver_sqlite==1.11.0
aioboto3==15.5.0
aiobotocore==3.7.0
aiofile==3.11.1
aiomcache==0.8.2
AppKit==0.2.8
apport_python_hook==0.1.0
argcomplete==3.6.3
async_exit_stack==1.0.1
atheris==3.0.0
Babel==2.18.0
Beaker==1.13.0
beautifulsoup4==4.14.3
blinker==1.9.0
boto3==1.43.11
botocore==1.43.11
brotli==1.2.0
brotlicffi==1.2.0.1
cffi==2.0.0
chardet==7.4.3
checks==0.2
configobj==5.0.9
ConfigParser==7.2.0
contextlib2==21.6.0
convertdate==2.4.1
cron_converter==1.3.1
ctypes_snappy==1.03
curio==1.6
cx_Oracle==8.3.0
cycler==0.12.1
cython==3.2.4
diskcache==5.6.3
distributed==2026.3.0
dogpile.core==0.4.1
elastic_transport==9.4.0
email_validator==2.3.0
eval_type_backport==0.3.1
fastapi_cli==0.0.24
fastparquet==2026.5.0
filelock==3.29.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
glide==0.4.1
gntp==1.0.3
gunicorn==26.0.0
hijridate==2.6.0
HTMLParser==0.0.2
httptools==0.7.1
hvac==2.4.0
hypothesis==6.152.9
Image==1.5.33
importlib_resources==7.1.0
ipython==9.12.0
ipywidgets==8.1.8
isal==1.8.0
isoduration==20.11.0
itsdangerous==2.2.0
jnius==1.1.0
js==1.0
jsonpath_ng==1.8.0
kerchunk==0.2.10
lingua==4.16.2
logfire==4.33.0
lxml==6.1.0
lz4==4.4.5
lzmaffi==0.3.0
matplotlib==3.10.9
mtrand==0.1
multipart==1.3.1
mypy_boto3_secretsmanager==1.43.0
numexpr==2.14.1
objgraph==3.6.2
odfpy==1.4.1
openpyxl==3.1.5
ordereddict==1.1
outcome==1.3.0.post0
paho_mqtt==2.1.0
paramiko==5.0.0
parsel==1.11.0
pathvalidate==3.3.1
pendulum==3.2.0
pexpect==4.9.0
pgpy==0.6.0
phonenumbers==9.0.30
Pillow==12.2.0
prefect_docker==0.7.2
psutil==7.2.2
psycopg_c==3.3.4
psycopg_pool==3.3.1
pybreaker==1.4.1
pycountry==26.2.16
pydoctor==25.10.1
pygit2==1.19.2
PyInstaller==6.20.0
PyJWT==2.12.1
pymongo==4.17.0
pyodide==0.0.2
pyOpenSSL==26.2.0
pyperf==2.10.0
PyQt4==4.11.4
PyQt5==5.15.11
pyqt5_sip==12.18.0
pysqlcipher3==1.2.0
pytest_run_parallel==0.8.2
python_bcrypt==0.3.2
python_calamine==0.6.2
python_multipart==0.0.29
python_on_whales==0.81.0
python_socks==2.8.1
pytidylib==0.3.2
pyxlsb==1.0.10
qtpy==2.4.3
recommonmark==0.7.1
record==4.2
requests_kerberos==0.15.0
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
rocksdict==0.3.29
ruamel_yaml_clib==0.2.15
s3fs==2026.4.0
scikit_learn==1.8.0
scipy==1.17.1
scipy_doctest==2.2.0
sets==0.3.2
setuptools==82.0.1
simplejson==4.1.1
slixmpp==1.15.0
smbprotocol==1.16.1
smpplib==2.2.4
socksio==1.0.0
speedups==2.1.0
sqlcipher3==0.6.2
taskgroup==0.2.2
thread==2.0.6
threadpoolctl==3.6.0
tqdm==4.67.3
traitlets==5.15.0
types_aiobotocore_dynamodb==3.7.0
types_aiobotocore_s3==3.7.0
ujson==5.12.1
Unidecode==1.4.0
uri_template==1.3.0
uuid_utils==0.16.0
uv==0.11.15
watchfiles==1.2.0
webcolors==25.10.0
websocket_client==1.9.0
Werkzeug==3.1.8
win32gui==221.6
winloop==0.6.3
wsproto==1.3.2
xlrd==2.0.2
xlsxwriter==3.2.9
xmlrpclib==1.0.1
xxhash==3.7.0
yarl==1.24.2
zope_interface==8.4
zstandard==0.25.0
